.all_entries_container {
    display: flex;
    align-items: flex-start;
    min-height: 100%;
}

.entries_categories {
    min-height: 100%;
    padding: 40px;
}

.category {
    display: block;
    margin-top: 20px;
    border: 2px solid var(--primary-bg-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--base-text-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: all .2s linear;
}

.category:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    transform: translateY(-5px);
}

.category.active {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
     font-weight: bold;
      color: #dbff11;
      background-color: #155724;
}
 
    
 