.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.blog {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 25px;
    width: 70%; /* розтягує пост по ширині екрана */
    max-width: 800px; /* щоб не був занадто великий на великих моніторах */
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blog:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.blog-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.post-actions {
    margin-top: 15px;
}

.btn-save, .btn-delete {
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    margin: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.btn-save {
    background-color: #f1c40f;
}

.btn-save:hover {
    background-color: #d4ac0d;
}

.btn-delete {
    background-color: #27ae60;
}

.btn-delete:hover {
    background-color: #1e874b;
}
.profile-input {
    width: 290%;
}

.profile-input input {
    font-size: 18px;
    border-radius: 20px;
    border-width: 1px solid #7c7c7c;
    padding-left: 10px;
    display: block;
    width: 100%;
}

input.profile-username {
    font-size: 25px;
}

.profile-input textarea.profile-bio {
    font-size: 18px;
    border-radius: 20px;
    border-width: 1px solid #7c7c7c;
    padding-left: 10px;
    display: block;
    width: 100%;
    min-height: 40px;
    height: 100px;
    resize: vertical;
}