{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Blog App: Create Entry</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_blog_entry.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Create Entry:</h1>

    <form class="entry_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

      
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                <div class="form-errors">{{ form.title.errors }}</div>
            {% endif %}
        </div>

        
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
            {% if form.category.errors %}
                <div class="form-errors">{{ form.category.errors }}</div>
            {% endif %}
        </div>

    
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
            {% if form.content.errors %}
                <div class="form-errors">{{ form.content.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
            {% if form.image.errors %}
                <div class="form-errors">{{ form.image.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.video.label_tag }}
            {{ form.video }}
            {% if form.video.errors %}
                <div class="form-errors">{{ form.video.errors }}</div>
            {% endif %}
        </div>


      
        <div class="form-group">
            {{ form.color.label_tag }}
            {{ form.color }}
            {% if form.color.errors %}
                <div class="form-errors">{{ form.color.errors }}</div>
            {% endif %}
        </div>

        
        <button type="submit">Create Entry</button>
    </form>
</div>
{% endblock %}
